<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <!-- '-' нужен для компиляции, если поставить = выведет как текст -->

    <%- include('./partials/navbar'); %>
    <div class="container">
      <h1>Main Page</h1>
    </div>
  </body>
</html>
