<div class="firstBlock">
  <div
    (click)="handleClick(i)"
    class="item"
    *ngFor="let item of this.data; let i = index"
  >
    <p>ProductId: {{ item.ProductId }}</p>
  </div>
</div>
<div class="secondBlock" *ngIf="!this.close">
  <div *ngIf="this.curInd >= 0">
    <div *ngFor="let i of this.data[this.curInd] | keyvalue">
      <!-- можно так -->
      <!-- <p *ngIf="i.value === null">it's unknown</p>
      <p *ngIf="i.value !== null">{{ i.key }}:{{ i.value }}</p> -->

      <p *ngIf="i.value === null; else p1">it's unknown</p>
      <ng-template #p1>
        <p>{{ i.key }}:{{ i.value }}</p>
      </ng-template>
    </div>
  </div>
  <button class="closeBtn" (click)="closeBtn()">Close</button>
</div>
