<div class="card">
  <h2
    [ngStyle]="{
      color: title.length < 5 ? 'black' : 'green'
    }"
  >
    {{ title }}
  </h2>
  <p>
    {{ text }}
  </p>
  <strong>Number:{{ number }}</strong>
  <em>{{ obj | json }}</em>
  <pre>{{ obj | json }}</pre>
  <p>{{ getInfo() }}</p>
  <div class="icon">
    <img [src]="imgUrl" />
  </div>
  <div>
    <button (click)="changeTitle()">Change title</button>
    <button (click)="title = 'Inline title'">Change title2</button>
  </div>
  <div>
    <!-- <input type="text" (input)="inputHandler($event)" [value]="title" /> -->
    <input
      type="text"
      #myInput
      (input)="inputHandler(myInput.value)"
      [value]="title"
    />
  </div>
  <div>
    <input type="text" [(ngModel)]="title" (ngModelChange)="chageHandler()" />
  </div>
</div>
